/* All styles for your header Components live here */

.app {
    width: 50%;
    height: 50%;
    border: solid black 1px;
}

.logo {
    width: 40px;
    object-fit: contain;
    padding: 10px;
}

.header {
    display: flex;
    width: 90%;
    align-items: flex-start;
    
}

.headerText {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.titleInfo {
    color: gray;
}